parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 7
			path: database/migrations/2021_11_18_010300_add_foreign_key_constraints_to_tables.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 7
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropIndexIfExists\\(\\)\\.$#"
			count: 3
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$categories\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CouponsTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$history\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CouponsTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$menus\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CouponsTransformer.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Support\\\\Optional\\:\\:\\$discount\\.$#"
			count: 2
			path: src/CartConditions/Coupon.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Support\\\\Optional\\:\\:\\$group\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:appliesOnDelivery\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:appliesOnMenuItems\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:discountWithOperand\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:isFixed\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Models\\\\Menu\\:\\:whereHasCategory\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Igniter\\\\Coupons\\\\Models\\\\Coupon\\>\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Models\\\\Order\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$model\\.$#"
			count: 1
			path: src/Models/Actions/RedeemsCoupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$order_id\\.$#"
			count: 1
			path: src/Models/Actions/RedeemsCoupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:getOrderTotals\\(\\)\\.$#"
			count: 1
			path: src/Models/Actions/RedeemsCoupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$customer_groups\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$customers\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$locations\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:categories\\(\\)\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:history\\(\\)\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:locations\\(\\)\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:menus\\(\\)\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 3
			path: src/Models/Coupon.php

		-
			message: "#^Method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:addMenuCategories\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:addMenus\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$customer\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$customer\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$coupon_history_id\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:fireSystemEvent\\(\\)\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:firstWhere\\(\\)\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:categories\\(\\)\\.$#"
			count: 1
			path: src/Models/Observers/CouponObserver.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:menus\\(\\)\\.$#"
			count: 1
			path: src/Models/Observers/CouponObserver.php

		-
			message: "#^Call to an undefined method Igniter\\\\Cart\\\\Models\\\\Order\\:\\:coupon_history\\(\\)\\.$#"
			count: 1
			path: src/Models/Observers/OrderObserver.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Builder\\:\\:whereHasOrDoesntHaveLocation\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/CouponScope.php
