parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 7
			path: database/migrations/2021_11_18_010300_add_foreign_key_constraints_to_tables.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 7
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropIndexIfExists\\(\\)\\.$#"
			count: 3
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 1
			path: src/Actions/RedeemsCoupon.php

		-
			message: "#^Cannot access property \\$created_at on int\\<min, \\-1\\>\\|int\\<1, max\\>\\|true\\.$#"
			count: 1
			path: src/Actions/RedeemsCoupon.php

		-
			message: "#^Cannot access property \\$status on int\\<min, \\-1\\>\\|int\\<1, max\\>\\|true\\.$#"
			count: 1
			path: src/Actions/RedeemsCoupon.php

		-
			message: "#^Cannot call method save\\(\\) on int\\<min, \\-1\\>\\|int\\<1, max\\>\\|true\\.$#"
			count: 1
			path: src/Actions/RedeemsCoupon.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$customer$#"
			count: 1
			path: src/Actions/RedeemsCoupon.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$order$#"
			count: 1
			path: src/Actions/RedeemsCoupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$categories\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CouponsTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$history\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CouponsTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$menus\\.$#"
			count: 1
			path: src/ApiResources/Transformers/CouponsTransformer.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$code\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$is_limited_to_cart_item\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Menu\\:\\:whereHasCategory\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:content\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getId\\(\\)\\.$#"
			count: 2
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderDateTime\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderType\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Order\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Classes\\\\CartManager\\:\\:instance\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:conditions\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderDateTime\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Coupons.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$customer_redemptions\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$discount\\.$#"
			count: 3
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$fixed_date\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$fixed_from_time\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$fixed_to_time\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$locations\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$min_total\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$period_end_date\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$period_start_date\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$recurring_every\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$recurring_from_time\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$recurring_to_time\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$redemptions\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$type\\.$#"
			count: 3
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:\\$validity\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:categories\\(\\)\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:history\\(\\)\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:locations\\(\\)\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:menus\\(\\)\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:isEnabled\\(\\)\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Call to method between\\(\\) on an unknown class Carbon\\\\Carbon\\\\Carbon\\.$#"
			count: 3
			path: src/Models/Coupon.php

		-
			message: "#^Call to method copy\\(\\) on an unknown class Carbon\\\\Carbon\\\\Carbon\\.$#"
			count: 2
			path: src/Models/Coupon.php

		-
			message: "#^Call to method format\\(\\) on an unknown class Carbon\\\\Carbon\\\\Carbon\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:addMenuCategories\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:addMenus\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Parameter \\$orderDateTime of method Igniter\\\\Coupons\\\\Models\\\\Coupon\\:\\:isExpired\\(\\) has invalid type Carbon\\\\Carbon\\\\Carbon\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Variable \\$page might not be defined\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Variable \\$pageLimit might not be defined\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Variable \\$sort might not be defined\\.$#"
			count: 1
			path: src/Models/Coupon.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Models\\\\Order\\:\\:\\$customer\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$amount\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$code\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$coupon_id\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$customer\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$customer_id\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$min_total\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$order_id\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Access to an undefined property Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:\\$status\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Call to an undefined method Igniter\\\\Cart\\\\CartCondition\\:\\:getModel\\(\\)\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Method Igniter\\\\Coupons\\\\Models\\\\CouponHistory\\:\\:createHistory\\(\\) has invalid return type Igniter\\\\Admin\\\\Models\\\\CouponHistory\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Variable \\$customer_id might not be defined\\.$#"
			count: 2
			path: src/Models/CouponHistory.php

		-
			message: "#^Variable \\$order_id might not be defined\\.$#"
			count: 2
			path: src/Models/CouponHistory.php

		-
			message: "#^Variable \\$page might not be defined\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Variable \\$pageLimit might not be defined\\.$#"
			count: 1
			path: src/Models/CouponHistory.php

		-
			message: "#^Variable \\$sort might not be defined\\.$#"
			count: 1
			path: src/Models/CouponHistory.php
